#col-12 {
    background: dimgray;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 150px;
}

#col-6 {
    background: #8d8d8d;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 150px;
}

#col-3 {
    background: #505a6b;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 150px;
}

#col-9 {
    background: #c0bcbc;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 150px;
}

#col-4 {
    background: #876868;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 150px;
}

#footcol-12 {
    background: rgb(174, 111, 39);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100px;
}

#footcol-4 {
    background: #b374bc;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100px;
}

#footcol-6 {
    background: #54914a;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 100px;
}
